<hr>
<div class="row">
    {{#if login}}
            <div class="col-4">
                <h5><i> Bienvenido/a, <strong>{{usuario.first_name}}  {{usuario.last_name}}</strong></i>.</h5>
            </div>
            <div class="col-2">
                <h6><i> Rol: {{usuario.role}} </i></h6>
            </div>
            <div class="col-6 botonLogout">
                <a class="btn btn-outline-secondary btn-sm w-25" href="/api/sessions/logout" role="button">Logout</a>
            </div>    
    {{/if}}

</div>

<div class="row">
    <h1>Listado de Productos Páginados</h1>
</div>
<ul>
    {{#if (eq usuario.role 'user')}}
        {{#each productos}}
            <li class="productos-paginados" data-id={{this._id}}>
                <h4>{{this.title}}</h4>
                <p><strong>Descripción:</strong> {{this.description}} - <strong>Precio:</strong> ${{this.price}}</p>
                <div>
                    <button class="addCarrito btn btn-primary" data-product-id="{{this._id}}">Agregar al Carrito</button>
                </div>
            </li>
        {{/each}}
    {{else}}
            {{#each productos}}
            <li class="productos-paginados" data-id={{this._id}}>
                <h4>{{this.title}}</h4>
                <p><strong>Descripción:</strong> {{this.description}} - <strong>Precio:</strong> ${{this.price}}</p>
            </li>
        {{/each}}
    {{/if}}
</ul>
<br>


<div class="controles-paginado">
<a href="/products/?pagina=1">Pág.1</a>

{{#if hasPrevPage}}
    <a href="/products/?pagina={{prevPage}}">Pág.Ant.</a>
{{else}}
    <span>Pág.Ant.</span>
{{/if}}

{{#if hasNextPage}}
    <a href="/products/?pagina={{nextPage}}">Pág.Sig.</a>
{{else}}
    <span>Pág.Sig.</span>
{{/if}}

<a href="/products/?pagina={{totalPages}}">Ult.Pág.</a>

</div>

<br>

{{>menu}}

<script>
    function handleAddToCartClick(event) {
        let cid = '657a105368dbce28a5484694';
        let pid = event.target.getAttribute('data-product-id');

        let url = '/api/carts/' + cid + '/product/' + pid;

        fetch(url, {
            method: 'POST', 
            body:
            console.log(url)
        }).then(response => response.json())
        .then(data => {
            Toastify({
                text: "Se agrego el producto",
                duration: 3000,
                gravity: "bottom",
                position: "right",
                style: {
                    background: "linear-gradient(to right, grey, black)",
                }
            }).showToast();

        console.log(`Producto agregado con éxito al carrito ${cid}`);
        })
    };

        document.addEventListener('click', function (event) {
        if (event.target.classList.contains('addCarrito')) {
            handleAddToCartClick(event);
        }
    });

        let carritoUsuario = document.getElementById("miCarrito");
        carritoUsuario.href = "/carts/{{usuario.cartId}}";
</script>

