<h2>Websockets - Listado actualizado de Productos</h2>
<br>

{{!-- <hr id= "test">
    {{#each productos}}
        <div>
            {{this.title}}
        </div>
    {{/each}}
<hr> --}}
<ul>
    {{#each productos}}
        <li>Prod.: <strong>{{this.title}}</strong></li>
        {{!-- <li>Prod.: <strong>{{this.title}}</strong> - Descripción: {{this.description}} - Precio: {{this.price}}</li> --}}
            <hr>
    {{/each}}

</ul>


<a class="btn btn-primary" href="/" role="button">Volver al Listado de Productos</a>

<script src="[socket.io/socket.io.js"></script>
<script src="../public/js/ws.js"></script>